$color-titulo: crimson; /* Declaracion de una variable en SASS '$nombre-variable: valor-variable;' y se 
                            declaran al principio del archivo SASS para declarla globalmente*/
$color-parrafo: #222;

@use 'reset';
@use 'navbar'; /* Para llamar los Parshalls se usa la regla 'add rule' que nos agrega las subcadenas del archivo 'navbar.scss' */
/* @use 'animaciones'; */ /* En scss se pueden usar ciclos */
@use 'hero';

h2 {
    color: $color-titulo;
    font-size: 3rem;
}

p {
    color: $color-parrafo;
}